---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

elasticsearch_process_names:
  - java

filebeat_process_names:
  - filebeat

maas_holland_venv_bin: "/openstack/venvs/holland-{{ rpc_release }}/bin"
maas_mysql_connection_warning_threshold: 80
maas_mysql_connection_critical_threshold: 90
maas_mysql_access_denied_errors_rate_warning_threshold: 10
maas_mysql_access_denied_errors_rate_critical_threshold: 20
maas_mysql_aborted_clients_rate_warning_threshold: 1
maas_mysql_aborted_clients_rate_critical_threshold: 2
maas_mysql_aborted_connects_rate_warning_threshold: 1
maas_mysql_aborted_connects_rate_critical_threshold: 2
maas_mysql_open_files_percentage_warning_threshold: 90
maas_mysql_open_files_percentage_critical_threshold: 95
maas_innodb_row_lock_time_avg_warning_threshold: 2000
maas_innodb_row_lock_time_avg_critical_threshold: 10000
maas_innodb_deadlocks_rate_warning_threshold: 1
maas_innodb_deadlocks_rate_critical_threshold: 2

maas_rabbitmq_user: maas_user
maas_rabbitmq_max_channels_per_con_threshold: 10
maas_rabbitmq_fd_used_threshold: 90
maas_rabbitmq_proc_used_threshold: 90
maas_rabbitmq_socket_used_threshold: 90
maas_rabbitmq_queued_messages_excluding_notifications_threshold: 100
maas_rabbitmq_queues_without_consumers_limit: 0
maas_rabbitmq_queue_growth_rate_threshold: 15

rsyslogd_process_names:
  - rsyslogd

maas_memcached_pip_packages:
  - python-memcached

maas_rabbitmq_pip_packages:
  - httplib2
