{
    "orgId": 1,
    "name": "RPC-MaaS",
    "type": "influxdb",
    "typeLogoUrl": "public/app/plugins/datasource/influxdb/img/influxdb_logo.svg",
    "access": "proxy",
    "url": "http://{{ influxdb_vip }}:{{ influxdb_port }}",
    "password": "{{ influxdb_db_password }}",
    "user": "{{ influxdb_db_user }}",
    "database": "{{ influxdb_db_name }}",
    "basicAuth": false,
    "isDefault": true,
    "jsonData": {}
}