[global_tags]
{% if 'all_containers' in groups and inventory_hostname in groups['all_containers'] %}
  node_type = "container"
{% else %}
  node_type = "physical_host"
{% endif %}
  job_reference = "{{ maas_job_reference }}"

{% set interval = (telegraf_interval | int) + 10 %}

[agent]
  interval = "{{ interval }}s"
  round_interval = false
  metric_batch_size = 1024
  metric_buffer_limit = 10240
  collection_jitter = "8s"
  flush_interval = "{{ interval * 1.5 | round }}s"
  flush_jitter = "8s"
  debug = false
  quiet = true
  hostname = "{{ inventory_hostname }}"
  omit_hostname = false

{%   set influx_targets = [] %}
{%   for item in groups['log_hosts'] %}
{%     set target = influxdb_protocol + '://' + hostvars[item]['ansible_host'] + ':' + influxdb_port | string %}
{%     set _ = influx_targets.extend([target]) %}
{%   endfor %}
{%   set all_influx_targets = influx_telegraf_targets | union(influx_targets) %}

[[outputs.influxdb]]
{% if all_influx_targets | length > 1 %}
  urls = [{{ all_influx_targets | map('quote') | join(', ') }}]
{% else %}
  urls = ["{{ all_influx_targets[0] }}"]
{% endif %}
  database = "{{ influxdb_db_name }}"
  precision = "s"
  write_consistency = "any"
  timeout = "30s"

{% if telegraf_outputs_prometheus_client is defined %}
[[outputs.prometheus_client]]
  listen = ":{{ telegraf_outputs_prometheus_client_listen }}"
  expiration_interval = "{{ telegraf_outputs_prometheus_client_expiration_interval }}s"
{% endif %}

[[inputs.processes]]

[[inputs.system]]

[[inputs.conntrack]]
  files = ["ip_conntrack_count","ip_conntrack_max",
            "nf_conntrack_count","nf_conntrack_max"]
  dirs = ["/proc/sys/net/ipv4/netfilter","/proc/sys/net/netfilter"]

{% if 'swift_proxy' in groups and inventory_hostname in groups['swift_proxy'] %}
[[inputs.statsd]]
  service_address = ":8125"
  metric_separator = "."
  templates = [
    "*.swift.proxy-server.*.*.*.* host.measurement.measurement.measurement.method.returncode.field*",
    "*.swift.proxy-server.*.policy.*.*.*.* host.measurement.measurement.measurement.measurement.measurement.method.returncode.field*",
  ]
{% endif %}

{% if 'all_containers' in groups and inventory_hostname in groups['all_containers'] %}
[[inputs.net]]

{% else %}
[[inputs.exec]]
  commands = [{{ telegraf_commands | map('quote') | join(', ') }}]
  timeout = "{{ telegraf_commands | length * 1.5 | round }}s"
  data_format = "influx"

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  fielddrop = ["time_*"]

[[inputs.net]]

[[inputs.netstat]]

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs"]

[[inputs.diskio]]

[[inputs.kernel]]

[[inputs.mem]]

[[inputs.swap]]

{% endif %}
