{% set label = "ceph_rgw_stats" %}
{% set check_name = label+'--'+inventory_hostname %}
{% set ceph_args = [maas_plugin_dir + "/ceph_monitoring.py", "--name", "client.raxmon", "--keyring", "/etc/ceph/ceph.client.raxmon.keyring"] %}
{% set _ = ceph_args.extend(["rgw", "--rgw_address", ceph_radosgw_protocol + "://" + ansible_host + ":" + radosgw_civetweb_port | string ]) %}
{% set _ceph_args = ceph_args | to_yaml(width=1000) %}
{% set ceph_args = _ceph_args %}

type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (inventory_hostname != groups['rgws'][0] or check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : {{ ceph_args }}
    timeout : {{ (maas_check_timeout_override[label] | default(maas_check_timeout) * 1000) }}
alarms      :
    ceph_rgw_status :
        label                   : ceph_rgw_status.{{ inventory_hostname }}
        notification_plan_id    : "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled                : {{ (('ceph_rgw_status.'+inventory_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["rgw_up"] == 0) {
                return new AlarmStatus(CRITICAL, "Ceph rgw error.");
            }
            if (metric["rgw_up"] == 1) {
                return new AlarmStatus(WARNING, "Ceph rgw warning.");
            }
