---
{% set label_name = item.label+'--'+inventory_hostname %}
label: "{{ label_name }}"
period: "{{ maas_check_period_override[item.label] | default(maas_check_period) }}"
timeout: "{{ maas_check_timeout_override[item.label] | default(maas_check_timeout) }}"
disabled: "{{ (label_name is match(maas_excluded_checks_regex)) | ternary('true', 'false') | quote }}"
