{% set label = "disk_utilisation" %}
{% set check_name = label+'--'+inventory_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}/disk_utilisation.py"]
    timeout : {{ (maas_check_timeout_override[label] | default(maas_check_timeout) * 1000) }}
alarms      :
{% for device in maas_disk_util_devices %}
    percentage_disk_utilisation_{{ device }}:
        label                   : percentage_disk_utilisation_{{ device }}--{{ inventory_hostname }}
        notification_plan_id    : "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
{% set is_shared_infra_host = inventory_hostname in (groups['shared-infra_hosts'] | default([])) %}
{% set full_alarm_name = ('percentage_disk_utilisation_' + device + '--' + inventory_hostname | quote) %}
{% if is_shared_infra_host and full_alarm_name | match(maas_excluded_alarms_regex) %}
        disabled                : true
{% else %}
        disabled                : false
{% endif %}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["disk_utilisation_{{ device }}"] > {{ maas_disk_utilisation_critical_threshold }}) {
                return new AlarmStatus(CRITICAL, "Disk IO utilisation for {{ device }} >= {{ maas_disk_utilisation_critical_threshold }}%");
            }
            if (metric["disk_utilisation_{{ device }}"] > {{ maas_disk_utilisation_warning_threshold }}) {
                return new AlarmStatus(WARNING, "Disk IO utilisation for {{ device }} >= {{ maas_disk_utilisation_warning_threshold }}%");
            }
{% endfor %}
