{% set label = "holland_local_check" %}
{% set check_name = label+'--'+inventory_hostname %}
{% if maas_holland_venv_enabled | bool %}
{% set holland_venv_bin = (maas_holland_venv_enabled  | bool) | ternary('/openstack/venvs/holland-{{ rpc_release }}/bin','/usr/local/bin') %}
{% endif %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}/holland_local_check.py", "{{ container_name }}", "{{ holland_venv_bin + '/holland' }}"]
alarms      :
     holland_backup_status:
        label                   : holland_backup_status--{{ inventory_hostname }}
        notification_plan_id    : "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled                : {{ (('holland_backup_status--'+inventory_hostname) | match(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["holland_backup_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Could not find holland backup from yesterday");
            }
