{% from "templates/common/macros.jinja" import get_metadata with context %}
{% set label = "lb_api_check_masakari" %}
{% set check_name = label %}
{% set masakari_api_url = ansible_local.maas.api.masakari_public_url | default(ansible_local.maas.api.masakari_internal_url) %}
{% set masakari_api_ip = ansible_local.maas.api.masakari_public_ip | default(ansible_local.maas.api.masakari_internal_ip) %}
{% set masakari_fallback_url = (maas_masakari_scheme | default(maas_scheme)) + '://' + maas_external_hostname + ':15868/' %}
type              : remote.http
label             : "{{ check_name }}"
period            : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout           : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled          : "{{ (inventory_hostname != groups['masakari_all'][0] or check_name | regex_search(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
target_resolver   : "IPv4"
target_hostname   : "{{ masakari_api_ip | default(maas_external_ip_address) }}"
details           :
    url           : "{{ masakari_api_url | default(masakari_fallback_url) }}"
monitoring_zones_poll:
{% for zone in maas_monitoring_zones %}
  - {{ zone }}
{% endfor %}
{{ get_metadata(label).strip() }}
{# Add extra metadata options with two leading white spaces #}
alarms            :
    lb_api_alarm_masakari   :
        label               : lb_api_alarm_masakari
        notification_plan_id: "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled            : {{ ('lb_api_alarm_masakari' | regex_search(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria            : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric['code'] != '300') {
                return new AlarmStatus(CRITICAL, 'API unavailable.');
            }
