{% from "templates/common/macros.jinja" import get_metadata with context %}
{% set label = "memory_check" %}
{% set check_name = label+'--'+inventory_hostname %}
type              : agent.memory
label             : "{{ check_name }}"
period            : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout           : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled          : "{{ (check_name is match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
{{ get_metadata(label).strip() }}
{# Add extra metadata options with two leading white spaces #}
alarms            :
    memory_used                 :
        label                   : memory_check--{{ inventory_hostname | quote }}
        notification_plan_id    : "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled                : {{ (('memory_check--'+inventory_hostname | quote) is match(maas_excluded_alarms_regex) or inventory_hostname in (groups['shared-infra_hosts'] | default([]))) | ternary('false', 'true') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (percentage(metric["actual_used"], metric["total"]) >= {{ maas_memory_used_percentage_critical_threshold }}) {
                return new AlarmStatus(CRITICAL, "Memory is {{ maas_memory_used_percentage_critical_threshold }}%+ in use.");
            }
            if (percentage(metric["actual_used"], metric["total"]) >= {{ maas_memory_used_percentage_warning_threshold }}) {
                return new AlarmStatus(WARNING, "Memory is {{ maas_memory_used_percentage_warning_threshold }}%+ in use.");
            }
