{% from "templates/common/macros.jinja" import get_metadata with context %}
{% set label = "neutron_l3_agent_check" %}
{% set check_name = label+'--'+inventory_hostname %}
{% set service_host = ansible_fqdn %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (check_name | regex_search(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}/neutron_service_check.py", "--protocol", "{{ neutron_client_protocol }}", "--host", "{{ service_host }}", "--fqdn", "{{ ansible_fqdn }}", "{{ internal_vip_address }}"]
    timeout : {{ (maas_check_timeout_override[label] | default(maas_check_timeout) * 1000) }}
{{ get_metadata(label).strip() }}
{# Add extra metadata options with two leading white spaces #}
alarms      :
    neutron_l3_agent_status :
        label                   : neutron_l3_agent_status--{{ inventory_hostname }}
        notification_plan_id    : "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled                : {{ (('neutron_l3_agent_status--'+inventory_hostname) | regex_search(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["neutron-l3-agent_status"] regex ".*cannot reach API.*") {
                return new AlarmStatus(WARNING, "neutron l3 agent can't reach API");
            }
            if (metric["neutron-l3-agent_status"] == 'No') {
                return new AlarmStatus(CRITICAL, "neutron-l3-agent down");
            }
