{% from "templates/common/macros.jinja" import get_metadata with context %}
{% set label = "nova_security_group_check" %}
{% set check_name = label+'--'+inventory_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(300) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(299) }}"
disabled    : "{{ (check_name is match(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}/iptables_check.py"]
    timeout : {{ (maas_check_timeout_override[label] | default(299) * 1000) }}
{{ get_metadata(label).strip() }}
{# Add extra metadata options with two leading white spaces #}
alarms      :
    nova_security_group_status :
        label                   : nova_security_group_status--{{ inventory_hostname }}
        notification_plan_id    : "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled                : false
        criteria                : |
            :set consecutiveCount=3
            if (metric["iptables_status"] != 1) {
                return new AlarmStatus(CRITICAL, "Security Groups are not enforcing");
            }
            return new AlarmStatus(OK, "Security Groups are enforcing");
