{% from "templates/common/macros.jinja" import get_metadata with context %}
{% set label = "private_lb_api_check_swift_access" %}
{% set check_name = label %}
{% set swift_access_url_path = 'v1/' + hostvars[groups['swift_proxy'][0]]['maas_swift_access_url_key'] + '/' + maas_swift_accesscheck_container + '/index.html' %}
{% set swift_api_url = ansible_local.maas.api.swift_public_url | default(ansible_local.maas.api.swift_internal_url) %}
{% set swift_api_ip = ansible_local.maas.api.swift_public_ip | default(ansible_local.maas.api.swift_internal_ip) %}
{% set swift_fallback_url = (maas_swift_proxy_scheme | default(maas_scheme)) + '://' + maas_external_hostname + ':8080/' %}
type              : remote.http
label             : "{{ check_name }}"
period            : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout           : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled          : "{{ (inventory_hostname != groups['swift_proxy'][0] or check_name | regex_search(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
target_resolver   : "IPv4"
target_hostname   : "{{ swift_api_ip | default(maas_external_ip_address) }}"
details           :
    url           : "{{ swift_api_url | default(swift_fallback_url) }}{{ swift_access_url_path }}"
monitoring_zones_poll:
  - "{{ maas_private_monitoring_zone }}"
{{ get_metadata(label).strip() }}
{# Add extra metadata options with two leading white spaces #}
alarms            :
    private_lb_api_alarm_swift_access:
        label               : private_lb_api_alarm_swift_access
        notification_plan_id: "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled            : {{ ('private_lb_api_alarm_swift_access' | regex_search(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria            : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric['code'] != '200') {
                return new AlarmStatus(CRITICAL, 'Data unavailable.');
            }
