monitoring_id {{ maas_entity_name }}
monitoring_token {{ maas_agent_token }}
monitoring_upgrade {{ maas_agent_upgrade }}
{% if maas_proxy_url is defined %}
monitoring_proxy_url {{ maas_proxy_url }}
{% endif %}
