#!/bin/bash

if [[ -f ~/openrc ]]; then
  source ~/openrc
fi

if [[ -f ~/maasrc ]]; then
  source ~/maasrc
fi

# NOTE(cloudnull): Hard coded because this was never addressed upstream
export OS_API_INSECURE=True

{{ maas_rally_venv_bin }}/python "$@"
