#!/bin/bash

if [[ -f {{ maas_openrc|default('~/openrc') }} ]]; then
  source {{ maas_openrc|default('~/openrc') }}
fi

# NOTE(cloudnull): Hard coded because this was never addressed upstream
export OS_API_INSECURE={{ maas_os_api_insecure|default('True') }}

{{ maas_venv_bin }}/python "$@"
