#!/bin/bash

if [[ -f {{ maas_openrc | default('~/openrc') }} ]]; then
  source {{ maas_openrc | default('~/openrc') }}
fi

if [[ -f {{ maas_environment | default('/etc/environment') }} ]]; then
  source {{ maas_environment | default('/etc/environment') }}
fi

{{ maas_rally_venv_bin }}/python "$@"
