{% from "templates/common/macros.jinja" import get_metadata with context %}
{% set label = "swift_container_replication_check" %}
{% set check_name = label+'--'+inventory_hostname %}
type        : agent.plugin
label       : "{{ check_name }}"
period      : "{{ maas_check_period_override[label] | default(maas_check_period) }}"
timeout     : "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}"
disabled    : "{{ (inventory_hostname not in maas_swift_recon_nodes or check_name | regex_search(maas_excluded_checks_regex)) | ternary('true', 'false') }}"
details     :
    file    : run_plugin_in_venv.sh
    args    : ["{{ maas_plugin_dir }}/swift-recon.py", "-t", "{{ maas_check_timeout_override[label] | default(maas_check_timeout) }}", {% if (ansible_local['maas']['general']['deploy_osp'] | bool) %}"--deploy_osp",{% endif %}"--swift-recon-path", "{{ ansible_local['maas']['general']['swift_recon_path'] | default(swift_recon_path) }}", "--ring-type", "container", "replication"]
    timeout : {{ (maas_check_timeout_override[label] | default(maas_check_timeout) * 1000) }}
{{ get_metadata(label).strip() }}
{# Add extra metadata options with two leading white spaces #}
alarms      :
    swift_container_replication_failure_check :
        label                   : swift_container_replication_failure_check--{{ inventory_hostname }}
        notification_plan_id    : "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled                : {{ (('swift_container_replication_failure_check--'+inventory_hostname) | regex_search(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["time_failed"] > {{ maas_swift_container_replication_failure_percentage_threshold }}) {
                return new AlarmStatus(CRITICAL, "Swift Container Replication Failure Percentage Above Threshold");
            }
    swift_container_replication_rate_check :
        label                   : swift_container_replication_rate_check--{{ inventory_hostname }}
        notification_plan_id    : "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled                : {{ (('swift_container_replication_rate_check--'+inventory_hostname) | regex_search(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (rate(metric["time_avg"]) > {{ maas_swift_container_replication_growth_rate_threshold }}) {
                return new AlarmStatus(CRITICAL, "Swift Container Replication time growth rate is above configured threshold. Currently above {{ maas_swift_container_replication_growth_rate_threshold }}");
            }
    swift_container_replication_avg_time_check :
        label                   : swift_container_replication_avg_time_check--{{ inventory_hostname }}
        notification_plan_id    : "{{ maas_notification_plan_override[label] | default(maas_notification_plan) }}"
        disabled                : {{ (('swift_container_replication_avg_time_check--'+inventory_hostname) | regex_search(maas_excluded_alarms_regex)) | ternary('true', 'false') }}
        criteria                : |
            :set consecutiveCount={{ maas_alarm_local_consecutive_count }}
            if (metric["time_avg"] > {{ maas_swift_container_replication_avg_time_threshold }}) {
                return new AlarmStatus(CRITICAL, "Swift Container Replication average time is above configured threshold. Currently above {{ maas_swift_container_replication_avg_time_threshold }}");
            }
