{% macro get_check_category(check_label) %}
{% if check_label.startswith('lb_api') or check_label.startswith('private_lb_api') %}
api
{% elif check_label.startswith('managed_k8') %}
kubernetes
{% elif check_label in ['elasticsearch_process_check', 'filebeat_process_check'] or check_label.startswith('rsyslogd_process_check') %}
logging
{% elif check_label in ['container_storage_check', 'holland_local_check', 'maas_poller_fd_count', 'memcached_status'] or check_label.startswith('galera') or check_label.startswith('rabbitmq') %}
infrastructure
{% elif check_label in ['conntrack_count', 'cpu_check', 'disk_utilisation', 'memory_check', 'private_ping_check', 'private_ssh_check'] or check_label.startswith('filesystem') or check_label.startswith('network_throughput') %}
host
{% elif check_label in ['hp-check', 'openmanage-memory', 'openmanage-processors', 'openmanage-vdisk'] %}
host {# we can change to hardware here if we want #}
{% else %}
{{ check_label.split('_')[0] }}
{% endif %}
{% endmacro %}


{% macro get_metadata(label) %}
{% set get_product_version_cmd="(cd "+maas_product_dir|default('/opt/rpc-openstack')+"&& git describe --tags --abbrev=0) || echo 'unknown\'" %}
{% set get_product_osa_version_cmd="(cd "+maas_product_osa_dir|default('/opt/rpc-openstack/openstack-ansible')+"&& git describe --tags --abbrev=0) || "+"(cd "+ maas_2nd_product_osa_dir|default('/opt/openstack-ansible')+ "&& git describe --tags --abbrev=0) || echo 'unknown\'" %}
metadata          :
  product: "{{ maas_env_product | default('rpco') }}"
  rpc_env_identifier: "{{ maas_env_identifier | default('unknown')}}"
  product_version: "{{ lookup('pipe', get_product_version_cmd )}}"
{% if not(maas_env_product is defined and 'ceph' in maas_env_product) %}
  osa_version: "{{ lookup('pipe', get_product_osa_version_cmd )}}"
{% endif %}
  rpc_maas_version: "{{  lookup('pipe', 'cd .. && git describe --tags --abbrev=0') }}"
  rpc_maas_deploy_date: "{{ ansible_date_time.date }}"
  rpc_check_category: "{{ get_check_category(label).strip() }}"
{% endmacro %}