{% macro get_check_category(check_label) %}
{% if check_label.startswith('lb_') or check_label.startswith('private_lb_') %}
api
{% elif check_label.startswith('managed_k8') %}
kubernetes
{% elif check_label.startswith('rsyslogd_process_check') %}
logging
{% elif check_label in ['container_storage_check', 'holland_local_check', 'maas_poller_fd_count', 'memcached_status'] or check_label.startswith('galera') or check_label.startswith('rabbitmq') %}
infrastructure
{% elif check_label in ['conntrack_count', 'cpu_check', 'disk_utilisation', 'memory_check', 'private_ping_check', 'private_ssh_check'] or check_label.startswith('filesystem') or check_label.startswith('network_throughput') %}
host
{% elif check_label in ['hp-check', 'openmanage-memory', 'openmanage-processors', 'openmanage-vdisk'] %}
host {# we can change to hardware here if we want #}
{% else %}
{{ check_label.split('_')[0] }}
{% endif %}
{% endmacro %}


{% macro get_metadata(label) %}
metadata:
  rpc_env_identifier: "{{ maas_env_identifier | default('unknown') }}"
  product: "{{ ansible_local['maas']['general']['maas_env_product'] | default('unknown') }}"
{% if ansible_local['maas']['general']['maas_env_product'] is defined and ansible_local['maas']['general']['maas_env_product'] == 'rpco' %}
  product_version: "{{ ansible_local['maas']['general']['maas_product_rpco_version'] | default('unknown') }}"
  osa_version: "{{ ansible_local['maas']['general']['maas_product_osa_version'] | default('unknown') }}"
{% elif ansible_local['maas']['general']['maas_env_product'] is defined and ansible_local['maas']['general']['maas_env_product'] == 'osa' %}
  osa_version: "{{ ansible_local['maas']['general']['maas_product_osa_version'] | default('unknown') }}"
{% elif ansible_local['maas']['general']['maas_env_product'] is defined and ansible_local['maas']['general']['maas_env_product'] == 'ceph' %}
  product_version: "{{ ansible_local['maas']['general']['maas_product_ceph_version'] | default('unknown') }}"
{% elif ansible_local['maas']['general']['maas_env_product'] is defined and ansible_local['maas']['general']['maas_env_product'] == 'osp' %}
  product_version: "{{ ansible_local['maas']['general']['maas_product_osp_version'] | default('unknown') }}"
{% endif %}
  rpc_maas_version: "{{ lookup('pipe', 'cd ' + playbook_dir + ' && git describe --tags --abbrev=0') }}"
  rpc_maas_deploy_date: "{{ ansible_date_time.date }}"
  rpc_check_category: "{{ get_check_category(label).strip() }}"
{% endmacro %}
