#!/bin/bash

if [[ -f ~/openrc ]]; then
  source ~/openrc
fi

# NOTE(cloudnull): Hard coded because this was never addressed upstream
export OS_API_INSECURE=True

source {{ maas_venv_bin }}/activate

python2.7 "$@"
