---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in witing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Gather facts
  hosts: hosts
  gather_facts: "{{ gather_facts | default(true) }}"
  tasks:
    - include: "common-tasks/maas_excluded_regex.yml"
    - name: Set the current group
      set_fact:
        maas_current_group: hosts

  tags:
    - maas-agent-setup

- name: Setup MaaS Agent
  hosts: hosts
  gather_facts: true
  become: yes
  pre_tasks:
    - name: Drop .raxrc file
      template:
        src: "templates/rax-maas/raxrc.j2"
        dest: /root/.raxrc
        mode: 0600
        owner: root
        group: root

    - name: Create plugin dir
      file:
        path: "{{ maas_plugin_dir }}"
        state: directory
        owner: "{{ ansible_ssh_user | default('root')}}"
        group: "root"
        mode: "0755"

    - name: Install MAAS Plugins
      synchronize:
        src: "files/rax-maas/plugins/"
        dest: "{{ maas_plugin_dir }}"
        recursive: yes
        times: yes
        rsync_opts:
          - "--no-motd"

    - name: Drop in wrapper script to run maas plugins in venv
      template:
        src: "templates/rax-maas/run_plugin_in_venv.sh.j2"
        dest: "{{ maas_plugin_dir }}/run_plugin_in_venv.sh"
        owner: "root"
        group: "root"
        mode: "0755"

    - name: Drop RabbitMQ cluster plugin
      template:
        src: "templates/rax-maas/plugins/rabbitmq_status.py"
        dest: "{{ maas_plugin_dir }}/rabbitmq_status.py"
        owner: "root"
        group: "root"
        mode: "0755"

  post_tasks:
    - name: Assign agent ID to entity
      raxmon:
        cmd: assign_agent_to_entity
        entity: "{{ maas_entity_name }}"
        venv_bin: "{{ maas_venv_bin }}"
        create_entity_if_not_exists: "{{ create_entity_if_not_exists | default(False) }}"
      when:
        - maas_use_api | bool

    - name: Create agent token
      raxmon:
        cmd: create_agent_token
        entity: "{{ maas_entity_name }}"
        venv_bin: "{{ maas_venv_bin }}"
      register: agent_token
      when:
        - maas_use_api | bool

    - name: Set agent token fact
      set_fact:
        maas_agent_token: "{{ agent_token.id }}"
      when:
        - maas_use_api | bool

    - name: Generate raxmon agent config
      template:
        src: "templates/rax-maas/rackspace-monitoring-agent.cfg.j2"
        dest: /etc/rackspace-monitoring-agent.cfg
        mode: 0600
        owner: root
        group: root
      when:
        - maas_use_api | bool

    - name: Start raxmon agent
      service:
        name: rackspace-monitoring-agent
        state: started
        enabled: yes
      when:
        - maas_use_api | bool

  vars_files:
    - vars/main.yml
    - vars/maas-auth.yml
    - vars/maas-agent.yml
  environment: "{{ deployment_environment_variables | default({}) }}"
  tags:
    - maas-agent-setup
