---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Gather facts
  hosts: mons
  gather_facts: true
  become: true
  tasks:
    - name: Refresh local facts
      setup:
        filter: ansible_local
        gather_subset: "!all"

    - name: Create dynamic ceph osd group
      add_host:
        hostname: "{{ item }}"
        groups: "maas_mon_hosts"
      with_items: "{{ groups['mons'][0] }}"

  vars_files:
    - vars/main.yml
    - vars/maas.yml

  tags:
    - always


- name: Install checks for ceph mons
  hosts: maas_mon_hosts
  gather_facts: true
  become: true
  vars:
    maas_auth: "auth caps client.raxmon mon 'allow r'"
    maas_mgr_auth: "auth caps client.raxmon mon 'allow r' mgr 'allow *'"
  pre_tasks:
    - name: Add ceph variable facts
      set_fact:
        ceph_command: "{{ (ansible_local.maas.general.deploy_osp | bool) | ternary('docker exec ceph-mon-' ~ inventory_hostname ~ ' ceph --cluster ceph', 'ceph') }}"
        ceph_auth_parameters: "{{ (ansible_local.maas.general.maas_product_ceph_version is version('12.0.0', '<') | bool) | ternary(maas_auth, maas_mgr_auth) }}"

    - name: Create ceph monitoring client
      command: "{{ ceph_command }} auth get-or-create client.raxmon"
      register: _ceph_raxmon_client
      tags:
        - skip_ansible_lint

    - name: Add auth for client.raxmon
      command: "{{ ceph_command }} {{ ceph_auth_parameters }}"
      tags:
        - skip_ansible_lint

    - name: Set the raxmon_client facts
      set_fact:
        ceph_raxmon_client: "{{ _ceph_raxmon_client }}"

  vars_files:
    - vars/main.yml
    - vars/maas.yml

  environment: "{{ deployment_environment_variables | default({}) }}"

  tags:
    - maas-ceph
    - always

