---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in witing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Check all passwords are defined
  hosts: localhost
  connection: local
  gather_facts: true
  become: true
  pre_tasks:
    - name: Include OSP vars
      include_vars: vars/maas-osp.yml
      when:
        - deploy_osp | bool

  tasks:
    - name: Check password is defined
      fail:
        msg: >-
          The password "{{ item.key }}" is undefined. Set this password in an
          appropriate secrets file before continuing.
      when:
        - maas_pre_flight_check_enabled | default(false) | bool
        - groups['osds'] | default([]) | length > 0
        - groups['mons'] | default([]) | length > 0
        - ansible_version.full is version_compare('2.1.0.0', '>=')
        - hostvars[inventory_hostname][item.key] is undefined
      with_dict: "{{ maas_pw_check }}"

  vars_files:
    - vars/main.yml
    - vars/maas.yml

  vars:
    maas_pw_check: "{{ lookup('file', playbook_dir + '/../tests/user_rpcm_secrets.yml') | from_yaml }}"

  tags:
    - maas-pre-flight


- name: Check metadata variables are defined
  hosts: localhost
  connection: local
  gather_facts: true
  become: true
  pre_tasks:
    - name: Include OSP vars
      include_vars: vars/maas-osp.yml
      when:
        - deploy_osp | bool

  tasks:
    - name: Get rendered test metadata template string
      set_fact:
        rendered_maas_metadata_test_tmpl: "{{ lookup('template', playbook_dir + '/templates/rax-maas/test_metadata.yaml.j2') }}"

    - name: Check metadata variables are defined
      fail:
        msg: >-
          There are missing metadata environment variable(s), as you can see 'unknown' from
          this test template '{{ rendered_maas_metadata_test_tmpl }}'. Please set proper env
          variables, possible options are: maas_env_identifier, maas_product_dir, maas_product_osa_dir
      when:
        - maas_pre_flight_metadata_check_enabled | default(true) | bool
        - rendered_maas_metadata_test_tmpl is search('unknown')

  vars_files:
    - vars/main.yml
    - vars/maas.yml

  tags:
    - maas-pre-flight

#
# maasrc generation
# (This following section could be removed when upstream decides to include
# OS_IMAGE_API_VERSION and OS_VOLUME_API_VERSION in openrc
#
- name: Generate maasrc
  hosts: utility_all
  gather_facts: true
  user: "{{ ansible_user | default('root') }}"
  become: true
  pre_tasks:
    - name: Include OSP vars
      include_vars: vars/maas-osp.yml
      when:
        - deploy_osp | bool

  tasks:
    - name: Get rendered test metadata template string
      set_fact:
        rendered_maas_metadata_test_tmpl: "{{ lookup('template', playbook_dir + '/templates/rax-maas/test_metadata.yaml.j2') }}"
      delegate_to: "{{ physical_host | default(ansible_host) }}"

    - name: Check OSA version is defined
      fail:
        msg: "Unable to figure out OSA version"
      when:
        - not (deploy_osp | bool)
        - (rendered_maas_metadata_test_tmpl | from_yaml).metadata.osa_version == 'unknown'

    - name: Set MaaS product metadata facts
      set_fact:
        maas_product: "{{ (rendered_maas_metadata_test_tmpl | from_yaml).metadata.product }}"
        maas_osa_version: "{{ (rendered_maas_metadata_test_tmpl | from_yaml).metadata.osa_version }}"
      when:
        - not (deploy_osp | bool)

    # For Queens/osp13 and beyond, use image api version 2 and volume api version 3
    - name: Override Image and Volume API versions Queens and beyond
      set_fact:
        os_image_api_version: '2'
        os_volume_api_version: '3'
      when:
        - ansible_version.full is version_compare('2.0.0', '>=')
        - (
            (maas_osa_version is defined) and
            (maas_osa_version is match('[0-9]+.[0-9]+.[0-9]+')) and
            (maas_osa_version is version_compare('17.0.0', '>='))
          ) or
          (deploy_osp | bool)

    - name: Generate maasrc file
      template:
        src: "templates/rax-maas/maasrc.j2"
        dest: "/root/maasrc"
        owner: "root"
        group: "root"
        mode: "0644"

  vars_files:
    - vars/main.yml
    - vars/maas.yml

  environment: "{{ deployment_environment_variables | default({}) }}"
