---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Install checks for ceph mons
  hosts: mons[0]
  gather_facts: false
  pre_tasks:
    - name: Add ceph command line alias string for osp
      set_fact:
        ceph_command: sudo docker exec ceph-mon-{{inventory_hostname}} ceph --cluster ceph
      when:
        - deploy_osp  | default(False)

    - name: Add ceph command line alias string for other environment
      set_fact:
        ceph_command: ceph
      when:
        - not (deploy_osp  | default(False))

    - name: Create ceph monitoring client
      command: "{{ ceph_command }} auth get-or-create client.raxmon"
      register: _ceph_raxmon_client
      tags:
        - skip_ansible_lint
    - name: Add mgr auth for client.raxmon
      command: "{{ ceph_command }} auth caps client.raxmon mon 'allow r' mgr 'allow *'"
      tags:
        - skip_ansible_lint
    - name: Set the raxmon_client facts
      set_fact:
        ceph_raxmon_client: "{{ _ceph_raxmon_client }}"
  tags:
    - maas-ceph
    - always
