---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Gather facts
  hosts: glance_all
  gather_facts: "{{ gather_facts | default(true) }}"
  user: "{{ ansible_user | default('root') }}"
  become: yes
  pre_tasks:
    - include: "common-tasks/maas_excluded_regex.yml"
    - include: "common-tasks/maas_get_openrc.yml"
    - include: "common-tasks/maas_get_maasrc.yml"
    - name: Set the current group
      set_fact:
        maas_current_group: glance_all

  tasks:
    - name: Copy over pip constraints
      copy:
        src: "files/pip-constraints.txt"
        dest: "/tmp/pip-constraints.txt"
      delegate_to: "{{ physical_host | default(ansible_host) }}"

  post_tasks:
    - name: Install glance pip packages to venv
      pip:
        name: "{{ maas_openstack_glance_pip_packages | join(' ') }}"
        state: "{{ maas_pip_package_state }}"
        extra_args: >-
          --isolated
          --constraint /tmp/pip-constraints.txt
          {{ pip_install_options | default('') }}
        virtualenv: "{{ maas_venv }}"
      register: install_pip_packages
      until: install_pip_packages|success
      retries: 5
      delay: 2
      delegate_to: "{{ physical_host | default(ansible_host) }}"

  vars_files:
    - vars/main.yml
    - vars/maas-openstack.yml
  environment: "{{ deployment_environment_variables | default({}) }}"
  tags:
    - maas-openstack-glance

- name: Install checks for openstack glance-api
  hosts: glance_api
  gather_facts: false
  user: "{{ ansible_user | default('root') }}"
  become: yes
  tasks:
    - name: Install glance api checks
      template:
        src: "templates/rax-maas/glance_api_local_check.yaml.j2"
        dest: "/etc/rackspace-monitoring-agent.conf.d/glance_api_local_check--{{ inventory_hostname }}.yaml"
        owner: "root"
        group: "root"
        mode: "0644"
      delegate_to: "{{ physical_host | default(ansible_host) }}"

    - name: Install glance lb checks
      template:
        src: "templates/rax-maas/lb_api_check_glance.yaml.j2"
        dest: "/etc/rackspace-monitoring-agent.conf.d/lb_api_check_glance.yaml"
        owner: "root"
        group: "root"
        mode: "0644"
      delegate_to: "{{ physical_host | default(ansible_host) }}"
      when:
        - maas_remote_check | bool
        - not maas_private_monitoring_enabled

    - name: Install glance private lb checks
      template:
        src: "templates/rax-maas/private_lb_api_check_glance.yaml.j2"
        dest: "/etc/rackspace-monitoring-agent.conf.d/private_lb_api_check_glance.yaml"
        owner: "root"
        group: "root"
        mode: "0644"
      delegate_to: "{{ physical_host | default(ansible_host) }}"
      when:
        - maas_private_monitoring_enabled
        - maas_private_monitoring_zone is defined

  vars_files:
    - vars/main.yml
    - vars/maas-openstack.yml
  tags:
    - maas-openstack-glance

- name: Install checks for openstack glance-registry
  hosts: glance_registry
  gather_facts: false
  user: "{{ ansible_user | default('root') }}"
  become: yes
  tasks:
    - name: Install glance registry checks
      template:
        src: "templates/rax-maas/glance_registry_local_check.yaml.j2"
        dest: "/etc/rackspace-monitoring-agent.conf.d/glance_registry_local_check--{{ inventory_hostname }}.yaml"
        owner: "root"
        group: "root"
        mode: "0644"
      delegate_to: "{{ physical_host | default(ansible_host) }}"

  vars_files:
    - vars/main.yml
    - vars/maas-openstack.yml
  tags:
    - maas-openstack-glance
