---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in witing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Gather facts
  hosts: hosts:mons:mgrs:osds:rgws:grafana-server
  gather_facts: true
  become: true
  tasks:
    - name: Refresh local facts
      setup:
        filter: ansible_local
        gather_subset: "!all"

    - include_tasks: "common-tasks/maas_excluded_regex.yml"

  vars_files:
    - vars/main.yml
    - vars/maas.yml

  tags:
    - always


- name: Install MaaS Agent
  hosts: hosts:mons:mgrs:osds:rgws:grafana-server
  gather_facts: true
  become: true
  pre_tasks:

    - name: Include distro install tasks
      include_tasks: "common-tasks/maas-agent-{{ ansible_distribution | lower }}-install.yml"

    - name: Ensure rackspace-monitoring-agent config directory exists
      file:
        name: /etc/rackspace-monitoring-agent.conf.d
        state: directory
        group: root
        owner: root

    - name: Include maas venv create
      include_tasks: common-tasks/maas-venv-create.yml

  vars_files:
    - vars/main.yml
    - vars/maas.yml
    - "vars/maas-{{ ansible_distribution | lower }}.yml"

  environment: "{{ deployment_environment_variables | default({}) }}"

  tags:
    - maas-agent-install
