---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in witing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Gather facts
  hosts: shared-infra_hosts
  gather_facts: "{{ gather_facts | default(true) }}"
  tasks:
    - name: Include OSP vars
      include_vars: vars/maas-osp.yml
      when:
        - deploy_osp | bool

    - name: Set the current group
      set_fact:
        maas_current_group: shared-infra_hosts
  vars_files:
    - vars/main.yml
    - vars/maas.yml
  tags:
    - always

- name: Install MaaS Poller
  hosts: shared-infra_hosts
  gather_facts: false
  pre_tasks:
    - name: Gather variables for each operating system
      include_vars: "{{ item }}"
      with_first_found:
        - "vars/maas-{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "vars/maas-{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "vars/maas-{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "vars/maas-{{ ansible_distribution | lower }}.yml"
        - "vars/maas-{{ ansible_os_family | lower }}-{{ ansible_distribution_version.split('.')[0] }}.yml"
        - "vars/maas-{{ ansible_os_family | lower }}.yml"
      tags:
        - always

  tasks:
    - name: Include Ubuntu distro install tasks
      include: "common-tasks/maas-poller-{{ ansible_distribution | lower }}-install.yml"
      when:
        - maas_private_monitoring_enabled | bool
        - maas_private_monitoring_zone is defined

  vars_files:
    - vars/main.yml
    - vars/maas.yml
    - "vars/maas-{{ ansible_distribution | lower }}.yml"

  environment: "{{ deployment_environment_variables | default({}) }}"
  tags:
    - maas-poller-install
