---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Gather facts
  hosts: neutron_agent
  gather_facts: "{{ gather_facts | default(true) }}"
  user: "{{ ansible_user | default('root') }}"
  become: yes
  pre_tasks:
    - include: "common-tasks/maas_excluded_regex.yml"
    - name: Set the current group
      set_fact:
        maas_current_group: neutron_agent

  tasks:
   - name: Copy over pip constraints
     copy:
       src: "files/pip-constraints.txt"
       dest: "/tmp/pip-constraints.txt"
     delegate_to: "{{ physical_host | default(ansible_host) }}"

  post_tasks:
    - name: Install container pip packages to venv
      pip:
        name: "{{ maas_container_pip_packages }}"
        state: "{{ maas_pip_package_state }}"
        extra_args: >-
          --isolated
          --constraint /tmp/pip-constraints.txt
          {{ pip_install_options | default('') }}
        virtualenv: "{{ maas_venv }}"
      register: install_pip_packages
      until: install_pip_packages is success
      retries: 5
      delay: 2
      delegate_to: "{{ physical_host | default(ansible_host) }}"

  vars_files:
    - vars/main.yml
    - vars/maas.yml
  environment: "{{ deployment_environment_variables | default({}) }}"
  tags:
    - maas-container-conntrack

- name: Install checks for container conntrack monitoring
  hosts: neutron_agent
  gather_facts: false
  user: "{{ ansible_user | default('root') }}"
  become: yes
  tasks:
    - name: Install conntrack count checks
      template:
        src: "templates/rax-maas/conntrack_count.yaml.j2"
        dest: "/etc/rackspace-monitoring-agent.conf.d/conntrack_count--{{ inventory_hostname }}.yaml"
        owner: "root"
        group: "root"
        mode: "0644"
      delegate_to: "{{ physical_host | default(ansible_host) }}"

  vars_files:
    - vars/main.yml
    - vars/maas.yml
  tags:
    - maas-container-container
