---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Gather facts
  hosts: osds
  gather_facts: "{{ gather_facts | default(true) }}"
  tasks:
    - name: Include OSP vars
      include_vars: vars/maas-osp.yml
      when:
        - deploy_osp | default(False)

    - include: "common-tasks/maas_excluded_regex.yml"
    - name: Set the current group
      set_fact:
        maas_current_group: osds
  tags:
    - maas-ceph-osds

- include: maas-ceph-raxmon.yml

- name: Install checks for ceph mons
  hosts: osds
  gather_facts: false
  user: "{{ ansible_user | default('root') }}"
  become: yes
  pre_tasks:
    - name: Write Ceph monitoring client key to file
      copy:
        content: "{{ [hostvars[groups['mons'][0]]['ceph_raxmon_client']['stdout'], '\n'] | join('') }}"
        dest: "/etc/ceph/ceph.client.raxmon.keyring"
      delegate_to: "{{ physical_host | default(ansible_host) }}"

    - name: Write Ceph monitoring client key to file within legacy rpc hosts
      copy:
        content: "{{ [hostvars[groups['mons'][0]]['ceph_raxmon_client']['stdout'], '\n'] | join('') }}"
        dest: "/etc/ceph/ceph.client.raxmon.keyring"
      when:
        - maas_rpc_legacy_ceph | bool

    - name: Get the first osd container
      raw: /bin/docker ps -a -f status=running | awk '/ceph-osd/ {print $NF}' | head -1
      when:
        - deploy_osp | default(False)
      register: osd_container_name

    - name: Set container name for osp template
      set_fact:
        container_name: "{{ osd_container_name.stdout | trim }}"
      when:
        - deploy_osp | default(False)

  tasks:
    - name: Discover Ceph facts
      ceph_osd_host_facts:
        hostname: "{{ ansible_hostname }}"
        container_name: "{{ container_name | default(inventory_hostname) }}"
        deploy_osp: "{{ deploy_osp | default(False) }}"
      tags:
        - always

  post_tasks:
    - name: Install local osd checks
      template:
        src: "templates/rax-maas/ceph_osd_stats.yaml.j2"
        dest: "/etc/rackspace-monitoring-agent.conf.d/ceph_osd_stats.yaml--{{ inventory_hostname }}.yaml"
        owner: "root"
        group: "root"
        mode: "0644"
      delegate_to: "{{ physical_host | default(ansible_host) }}"

  vars_files:
    - vars/main.yml
  tags:
    - maas-ceph-osds
