---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Gather facts
  hosts: mons
  gather_facts: true
  become: true
  tasks:
    - name: Refresh local facts
      setup:
        filter: ansible_local
        gather_subset: "!all"

    - include_tasks: "common-tasks/maas_excluded_regex.yml"

  vars_files:
    - vars/main.yml
    - vars/maas.yml

  tags:
    - maas-ceph-mons
    - always


- import_playbook: maas-ceph-raxmon.yml


- name: Install checks for ceph mons
  hosts: mons
  gather_facts: true
  user: '{{ ansible_ssh_user | default("root") }}'
  become: true
  pre_tasks:

    - name: Write Ceph monitoring client key to file
      copy:
        content: "{{ [hostvars[groups['mons'][0]]['ceph_raxmon_client']['stdout'], '\n'] | join('') }}"
        dest: "/etc/ceph/ceph.client.raxmon.keyring"
      delegate_to: "{{ physical_host }}"
      when: 'physical_host != ansible_host'

    - name: Write Ceph monitoring client key to file
      copy:
        content: "{{ [hostvars[groups['mons'][0]]['ceph_raxmon_client']['stdout'], '\n'] | join('') }}"
        dest: "/etc/ceph/ceph.client.raxmon.keyring"
      when: 'physical_host == ansible_host'

    - name: Get the first mon container
      shell: podman ps --format '{{ '{{' }}.Names{{ '}}' }}' | grep ceph-mon
      when:
        - ansible_local['maas']['general']['deploy_osp'] | bool
      register: mon_container_name

    - name: Set container name  for osp template
      set_fact:
        container_name: "{{ mon_container_name.stdout | trim }}"
      when:
        - ansible_local['maas']['general']['deploy_osp'] | bool

    - name: Write Ceph monitoring client key to file within legacy rpc hosts
      copy:
        content: "{{ [hostvars[groups['mons'][0]]['ceph_raxmon_client']['stdout'], '\n'] | join('') }}"
        dest: "/etc/ceph/ceph.client.raxmon.keyring"
      when:
        - maas_rpc_legacy_ceph | bool

  post_tasks:
    - name: Install local mons checks
      template:
        src: "templates/rax-maas/{{ item }}.yaml.j2"
        dest: "/etc/rackspace-monitoring-agent.conf.d/{{ item }}.yaml--{{ inventory_hostname }}.yaml"
        owner: "root"
        group: "root"
        mode: "0644"
      delegate_to: "{{ physical_host | default(ansible_host) }}"
      with_items:
        - ceph_mon_stats
        - ceph_cluster_stats
        - ceph_health_checks_mon
        - ceph_health_checks_mgr
        - ceph_health_checks_osds
        - ceph_health_checks_device_health
        - ceph_health_checks_data_health
        - ceph_health_checks_misc
      when: 'physical_host != ansible_host'

    - name: Install local mons checks
      template:
        src: "templates/rax-maas/{{ item }}.yaml.j2"
        dest: "/etc/rackspace-monitoring-agent.conf.d/{{ item }}.yaml--{{ inventory_hostname }}.yaml"
        owner: "root"
        group: "root"
        mode: "0644"
      with_items:
        - ceph_mon_stats
        - ceph_cluster_stats
        - ceph_health_checks_mon
        - ceph_health_checks_mgr
        - ceph_health_checks_osds
        - ceph_health_checks_device_health
        - ceph_health_checks_data_health
        - ceph_health_checks_misc
      when: 'physical_host == ansible_host'

  vars_files:
    - vars/main.yml
    - vars/maas.yml
    - vars/maas-ceph.yml

  environment: "{{ deployment_environment_variables | default({}) }}"

  tags:
    - maas-ceph-mons
